/* ==========================================================
! CSS 
========================================================== */

/* ==========================================================
! MIXINS / VARIABLES
==============	=========================================== */	
@import "variables.less";


/* ==========================================================
! GENERAL 
========================================================== */	
html {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body {
  background-color: @bgcolor;
	.texto;
  -webkit-font-smoothing: subpixel-antialiased;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

p {
  margin-bottom: 20px;
}

.no-spacing {
  padding: 0;
}

.error {
  margin-bottom: 20px !important;
  text-align: left !important;
  left: 0 !important;
  color: #cc0000 !important;
  font-weight: 400 !important;
  width: 100%;
}

form {
  @media @mtablet {
    margin-top: 30px; 
  }
}

.form-control {
  .border-radius(0);
  width: 100% !important;
  height: 35px;
  font-size: 15px;
  font-weight: 500;
  color: @branco;
  margin-bottom: 10px;
  border: 2px solid @branco;
  color: @branco;
  background-color: transparent;
  color: @color2;
  border: 1px solid @color2
}

textarea {
  min-height: 100px;
  @media @mtablet {
    height: 90px !important;
  }
}

::-webkit-input-placeholder {
   color: @placeholder-color!important;
}

:-moz-placeholder {
   color: @placeholder-color!important;
}

::-moz-placeholder {
   color: @placeholder-color!important;
}

:-ms-input-placeholder {  
  color: @placeholder-color!important;
}

.duas-colunas {
  @media @laptop {
    -moz-column-count: 2;
    -moz-column-gap: 30px;
    -webkit-column-count: 2;
    -webkit-column-gap: 30px;
    column-count: 2;
    column-gap: 30px;
    height: 300px;
  }
}

/* ==========================================================
! Buttons
========================================================== */ 
.btn {
  .anima(0.3s);
  .border-radius(0px);
  color: @branco;
  text-transform: uppercase;
  border: 2px solid @branco;
  background-color: #ccc;
  margin-bottom: 8px;
  padding: 15px 30px;
  &:hover {
    border: 2px solid @color2;
    background: @color2;
    color: @branco;
  }
}

.btn-menu {
  display: block;
  margin-right: 50px;
  margin-left: 20px;
  height: 90px;
  line-height: 90px;
  cursor: pointer
}

input {
  &:focus {
    outline-color: transparent;
    outline-style: none;
  }
}

/* ==========================================================
! Modais
========================================================== */

.modal {
  z-index: 9999;
  display: block !important;
}

.modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
  min-height: 100%;
  min-width: 100%;
  text-align: center;
  left: 0;
  top: 0;
  margin: 0;
  position: initial !important;
}

.portfolio-modal .close-modal {
  cursor: pointer;
  color: @branco; 
  font-size: 48px;
  background: url('../img/close.png') no-repeat center top;
  width: 64px;
  height: 64px;
  .anima(0.2s);
  display: block;
  margin: 0 auto;
  text-align: center;
  @media @tablet {
    position: absolute;
    top: 30px;
    right: 30px;
  }
  &:hover {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

.modal-tratamento {
  .btn {
    display: block;
    cursor: pointer;
    &:hover {
      border: 2px solid @color1;
      background: @color1;
      color: @branco;
    }
  }
  .modal-content {
    padding: 100px 0;
    background: @branco;
    background-image: url('../img/bg-int2.png'), url('../img/bg-int1.png');
    background-repeat: no-repeat;
    background-position: bottom left, top right;
  }
  .calculadora {
    p {
      color: @color4;
    }
    li {
      list-style: none;
      margin-bottom: 5px;
    }
    .btn {
      display: block;
      cursor: pointer;
      &:hover {
        border: 2px solid @color1;
        background: @color1;
        color: @branco;
      }
    }
    .btn2 {
      .anima(0.3s);
      .border-radius(0px);
      cursor: pointer;
      color: @branco;
      text-transform: uppercase;
      border: 2px solid @branco;
      background-color: #ccc;
      margin-bottom: 8px;
      padding: 15px 30px;
      display: inline-block;
      &:hover {
        border: 2px solid @color2;
        background: @color2;
        color: @branco;
      }
    }
    .opcao-calc {
      font-size: 19px;
      font-weight: 700;
      margin-bottom: 10px
    }
    input[type=radio] {
      display: none;
    }
    input[type=radio] + label {
      width: 24%;
      padding-left: 30px;
      line-height: 40px;
      margin-bottom: 30px;
      font-weight: 400;
      font-size: 15px;
      cursor: pointer;
    }
    input[type=radio] + label:before {
      width: 20px;
      height: 20px;
      position: absolute;
      content: '';
      display: inline-block;
      background: @branco;
      border: 2px solid @color1;
      .border-radius(50%);
      cursor: pointer;
      margin-left: -30px;
      margin-top: 10px;
      .anima(0.3s);
    }
    input[type=radio]:checked + label {
      color: @color2;
    }
    input[type=radio]:checked + label:before {
      background-color: @color2;
      border: 2px solid @color2; 
    }
    .calc-1 {
      display: none;
    }
    .calc-1-result {
      display: none;
    }
    .calc-1-ph {
      display: none;
    }
    .calc-1-alcalinidade {
      display: none;
    }
    .calc-1-volume {
      display: none;
    }
    .calc-2 {
      display: none;
    }
    .calc-2-result {
      display: none;
    }
    .calc-3 {
      display: none;
    }
    .calc-4 {
      display: none;
    }
    .menu-piscinavolume {
      margin-bottom: 70px;
      cursor: pointer;
    }
    .piscinavolume-2 {
      display: none;
    }
    .piscinavolume-3 {
      display: none;
    }
    .piscinavolume-4 {
      display: none;
    }
    .calc-1-video, .calc-2-video, .calc-3-video {
      display: none;
      .btn2 {
        margin-top: 50px;
      }
    }
    .proximo {
      background-color: @color1;
      &:hover {
        border: 2px solid @color2;
        background: @color2;
        color: @branco;
      }
    }
    .fecha-calc {
      cursor: pointer;
    }
    .pequeno {
      margin-bottom: 30px;
      cursor: pointer;
      color: @color2;
    }
    .piscina {
      margin-top: 50px;
    }
    .result {
      background-color: @color1;
      color: @branco
    }
    .margem {
      margin-top: 50px;
    }
    table, td, th {
      border: 1px solid @color2;
    }
    table {
      border-collapse: collapse;
      margin-top: 20px;
    }
    td, th {
      padding: 5px;
    }
    .resultado {
      margin-bottom: 50px;
    }
  }
  .calculadoraspa {
    p {
      color: @color4;
    }
    li {
      list-style: none;
      margin-bottom: 5px;
    }
    .btn {
      display: block;
      cursor: pointer;
      &:hover {
        border: 2px solid @color1;
        background: @color1;
        color: @branco;
      }
    }
    .btn2 {
      .anima(0.3s);
      .border-radius(0px);
      cursor: pointer;
      color: @branco;
      text-transform: uppercase;
      border: 2px solid @branco;
      background-color: #ccc;
      margin-bottom: 8px;
      padding: 15px 30px;
      display: inline-block;
      &:hover {
        border: 2px solid @color2;
        background: @color2;
        color: @branco;
      }
    }
    .opcao-calc {
      font-size: 19px;
      font-weight: 700;
      margin-bottom: 10px
    }
    .calcspa-video {
      display: none;
      .btn2 {
        margin-top: 50px;
      }
    }
    input[type=radio] {
      display: none;
    }
    input[type=radio] + label {
      width: 24%;
      padding-left: 30px;
      line-height: 40px;
      margin-bottom: 30px;
      font-weight: 400;
      font-size: 15px;
      cursor: pointer;
    }
    input[type=radio] + label:before {
      width: 20px;
      height: 20px;
      position: absolute;
      content: '';
      display: inline-block;
      background: @branco;
      border: 2px solid @color1;
      .border-radius(50%);
      cursor: pointer;
      margin-left: -30px;
      margin-top: 10px;
      .anima(0.3s);
    }
    input[type=radio]:checked + label {
      color: @color2;
    }
    input[type=radio]:checked + label:before {
      background-color: @color2;
      border: 2px solid @color2; 
    }
    .calc-1 {
      display: none;
    }
    .calc-2 {
      display: none;
    }
    .calc-1-result {
      display: none;
    }
    .proximo {
      background-color: @color1;
      &:hover {
        border: 2px solid @color2;
        background: @color2;
        color: @branco;
      }
    }
    .fecha-calc {
      cursor: pointer;
    }
    table, td, th {
      border: 1px solid @color2;
    }
    table {
      border-collapse: collapse;
      margin-top: 20px;
    }
    td, th {
      padding: 5px;
    }
    .resultado {
      margin-bottom: 50px;
    }
  }
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}