//MEDIA-QUERIES
@full-hd:   ~"(min-width: 1400px)";
@desktop:   ~"(min-width: 1200px)";
@laptop:   ~"(min-width:992px)";
@tablet:    ~"(min-width: 768px)";
@mobile:    ~"(min-width: 240px)";

@mfull-hd:   ~"(max-width: 1400px)";
@mdesktop:   ~"(max-width: 1200px)";
@mlaptop:   ~"(max-width:992px)";
@mtablet:    ~"(max-width: 768px)";
@mmobile:    ~"(max-width: 240px)";

//MAIN COLORS
@color1: #02b4e0; //azul
@color2: #02a1ce; //azul escuro
@color3: #373637; //cinza chumbo
@color4: #787878; //cinza

@branco: #fff;
@preto: #000;
@bgcolor: @branco;

//FORMS
@placeholder-color: #555;
@input-bg: #fcfcfc;


//HEADER
@header-bg: @color1;


//FOOTER
@footer-bg: @color1;
@footer-color: @branco;


//Fonts
.texto {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.title {
  color: @color1;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 15px 30px;
  padding-bottom: 15px;
  display: inline-block;
  position: relative;
  &::after {
    content: '';
    height: 8px;
    width: 100%;
    position: absolute;
    background-image: url('../img/btitle1.png');
    left: 0;
    bottom: 0;
  }
}

.title2 {
  color: @color2;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 5px;
  display: block;
  position: relative;
}

.title-bco {
  .title;
  color: @branco;
  &::after {
    content: '';
    height: 8px;
    width: 100%;
    position: absolute;
    background-image: url('../img/btitle.png');
    left: 0;
    bottom: 0;
  }
}

.bold {
  font-weight: 700;
}

.anima (@anima) {
  -webkit-transition: all @anima ease-in-out;
  -moz-transition: all @anima ease-in-out;
  transition: all @anima ease-in-out;
}

.border-radius (@radius) {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
}

.bg-cover {
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.box-shadow {
  -webkit-box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow:    0px 2px 6px 0px rgba(50, 50, 50, 0.3);
  box-shadow:         0px 2px 6px 0px rgba(50, 50, 50, 0.3);
}

.rotate(@rotatedg) {
  -webkit-transform: rotate(@rotatedg);
  -moz-transform: rotate(@rotatedg);
  -o-transform: rotate(@rotatedg);
  transform: rotate(@rotatedg);
}

.responsive-image {
  width: 100%;
}

.section {
  padding-top: 20px;
  padding-bottom: 20px;
}